@tailwind base;
@tailwind components;
@tailwind utilities;
@import "leaflet/dist/leaflet.css";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 240, 240, 240; /* Un gris très clair comme point de départ */
  --background-end-rgb: 255, 255, 255;   /* Un blanc pur */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.certification-logo {
  width: 120px; /* Taille par défaut pour les grands écrans */
  height: auto; /* Maintenir le ratio */
}

@media (max-width: 640px) {
  .certification-logo {
    width: 40px; /* Taille pour les petits écrans */
  }
}

@media (max-width: 768px) {
  .certification-logo {
    width: 60px; /* Taille pour les écrans moyens */
  }
}

/* Barre de défilement personnalisée */
.scrollbar-custom::-webkit-scrollbar {
  width: 12px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.map-container {
  margin: 20px 0;
}

.map-container h2 {
  margin-bottom: 10px;
}

iframe {
  width: 100%;
  max-width: 600px;
  height: 450px;
  border: 0;
}

.modal-overlay {
  z-index: 1000 !important;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}

.modal-content {
  max-height: 90vh;
  overflow-y: auto;
  position: relative;
  background: white;
  padding: 20px;
  border-radius: 10px;
  z-index: 1001;
}

.custom-prev-arrow,
.custom-next-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
}

.custom-prev-arrow {
  left: 10px;
}

.custom-next-arrow {
  right: 10px;
}

.custom-prev-arrow:hover,
.custom-next-arrow:hover {
  background-color: rgba(0, 0, 0, 0.8);
}



@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
  100% { transform: translateY(0); }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}

@keyframes gradient-xy {
  0%, 100% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
}

.animate-gradient-xy {
  background-size: 200% 200%;
  animation: gradient-xy 10s ease infinite;
}
